@{
    ViewBag.Title = "Login";
    ViewBag.Css = "register.css";
    ViewBag.Favicon = "register.svg";
}

<section class="main-register d-flex justify-content-center align-items-center vh-100">
    <h3>Coming Soon...</h3>
</section>