@{
    ViewBag.Title = "Editar Producto";
    ViewBag.Css = "productos.css";
    ViewBag.Favicon = "productos.svg";
}

<div class="route container mt-5">
    <a asp-area="" asp-controller="Productos" asp-action="Index">Inicio</a>
    <p>Editar producto</p>
</div>

<div class="main-show">
    <h3>El producto se ha editado con éxito :D</h3>

    <a class="btn btn-primary" asp-area="" asp-controller="Productos" asp-action="Index">Volver</a>
</div>