@{
    ViewBag.Title = "Mostrar Usuarios";
    ViewBag.Css = "usuarios.css";
    ViewBag.Favicon = "usuarios.svg";
}

<section class="main-show">
    <div class="info">
        <p>Nombres: Juanky</p>
        <p>Apellidos: H</p>
        <p>Correo: juanky@gmail.com</p>
        <p>Genero: M</p>
        <p>Edad: 19</p>
    </div>
    
    <div class="usuarios">
        <a asp-area="" asp-controller="Usuarios" asp-action="Index">Ver Lista Usuarios</a>
    </div>
</section>
